<section class="fixed inset-0 z-50 bg-black/80 flex justify-center items-center">

  <div class="bg-white px-10 lg:px-15 py-10 rounded-md">
    <h1 class="text-2xl pb-5">Registro</h1>
    <button 
      type="button"
      (click)="registroConGoogle()"
      class="bg-gray-300 flex py-2 w-full items-center justify-center rounded-md hover:bg-gray-400 transition-all duration-300">
      <iconify-icon icon="flat-color-icons:google" class="text-2xl"></iconify-icon>
    </button>
    <div class="flex items-center gap-3 py-2">
      <div class="flex-1 border-t"></div>
      <span class="text-[11px] ">O</span>
      <div class="flex-1 border-t"></div>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()" class="space-y-5">

      <div class="group">
        <label for="nombre">NOMBRE</label>
        <input type="text" id="nombre" formControlName="nombre" class="">
        @if (f['nombre'].errors?.['required'] && (f['nombre'].touched || submitted)) {
        <small class="text-red-500">Ingrese su nombre</small>
        }
        @if(f['nombre'].errors?.['minlength'] && (f['nombre'].touched || submitted)) {
        <small class="text-red-600">Mínimo {{ f['nombre'].errors?.['minlength'].requiredLength }} caracteres</small>
        }
      </div>

      <div class="group">
        <label for="email">E-MAIL</label>
        <input type="email" id="email" formControlName="email" />
        @if(f['email'].errors?.['required'] && (f['email'].touched || submitted)) {
        <small class="text-red-500">El e-mail es requerido</small>
        }
        @if(f['email'].errors?.['email'] && (f['email'].touched || submitted)) {
        <small class="text-red-600">Formato de mail inválido</small>
        }
        @if(f['email'].errors?.['existe']) {
        <small class="text-red-600">El correo ya existe</small>
        }
      </div>

      <div class="group">
        <label for="contrasena">CONTRASEÑA</label>
        <input type="password" name="" id="contrasena" formControlName="contrasena">
        @if (f['contrasena'].errors?.['required'] && (f['contrasena'].touched || submitted)) {
        <small class="text-red-500">Ingrese una contraseña</small>

        }
        @if(f['contrasena'].errors?.['minlength'] && (f['contrasena'].touched || submitted)) {
        <small class="text-red-500">Mínimo 8 caracteres</small>
        }
      </div>
      <div class="group">
        <label for="repetir">REPETIR CONTRASEÑA</label>
        <input type="password" id="repetir" formControlName="repetir">
        @if (f['repetir'].errors?.['required'] && (f['repetir'].touched || submitted)) {
        <small class="text-red-500">Repita contaseña</small>
        }
        @if(formulario.errors?.['iguales'] && (f['repetir'].touched || submitted)) {
        <small class="text-red-500">Las contraseñas no coinciden</small>
        }
      </div>
      <div class="flex flex-col gap-2 items-center justify-center">

        <button type="submit" class="bg-cyan-700 text-white w-full px-2 py-2 rounded-md">Crear cuenta
        </button>
        <a routerLink="/login" class="0">
          <small>¿Ya tienes cuenta?</small>
          <small class="underline text-cyan-700 hover:text-cyan-500">Ingresar</small>
        </a>
      </div>
    </form>


  </div>
</section>