<div class="bg-white grid grid-cols-1 lg:grid-cols-2 rounded-md">
  <swiper-container class="w-full lg:h-64" slides-per-view="1" navigation="true" pagination="true"
    loop="false">
    @for (img of data.imagenes; track $index) {
    <swiper-slide>
      <img [src]="img" class="w-full lg:h-64 object-cover rounded-t-md
      lg:rounded-t-md lg:rounded-bl-md lg:rounded-tr-none" />
    </swiper-slide>
    }
  </swiper-container>

  <div class="flex flex-col p-3">
    <h2>{{data.titulo}}</h2>
    <p>{{data.descripcion}}</p>
    <span>{{data.precio}}</span>
    <span>{{data.cantidad}}</span>
    <div class="grid lg:grid-cols-2 gap-2">
      <button (click)="modalService.show()" class="border-2 py- px-2 rounded-md border-cyan-700">Disponibilidad</button>
      <button (click)="modalService.show()" class="border-2 py- px-2 rounded-md border-cyan-700">Reservar</button>
    </div>
  </div>

</div>
<!-- @if (modalService.mostrar()) {
  <app-modal-reservar></app-modal-reservar>
} -->