<section class="bg-black/70 fixed inset-0 z-50 flex justify-center items-center transition-opacity duration-300">

  <div class="bg-white flex flex-col items-center justify-center rounded-md shadow-xl w-1/2 h-3/4">

    <h1>jaja</h1>
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()"
      class="flex flex-col gap-5"
    >
      <div class="flex flex-col">
        <label for="fecha">Fecha de reserva</label>
        <input type="date" id="fecha" formControlName="fecha" class="style-input"/>
        @if (f['fecha'].errors?.['required'] && (f['fecha'].touched || submitted)) {
          <small class="text-red-600">Seleccione la fecha</small>
        }
      </div>
      <div class="flex flex-col">
        <label for="noches">Noches</label>
        <input type="number" id="noches" formControlName="noches" class="style-input" />
        @if (f['noches'].errors?.['required'] && (f['noches'].touched || submitted)) {
        <small class="text-red-600">Ingrese la cantidad de noches</small>
        }
      </div>
      <button type="submit" class="bg-amber-500 text-white font-semibold py-1 px-2 rounded-md">Confirmar Reserva</button>
      <button type="button" (click)="modalService.close()"
      class="bg-amber-500 text-white font-semibold py-1 px-2 rounded-md">Cancelar</button>
    </form>
  </div>
</section>