/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
 @apply bg-gray-200 
}

.seccion-init {
  @apply mt-22 mx-5 mb-5
}


swiper-container .swiper-pagination-bullet {
  width: 50px;
  height: 50px;
}
swiper-container .swiper-button-next,
swiper-container .swiper-button-prev {
  color: #f59e0b !important; /* amarillo amber-500 */
  /* Podés usar cualquier color */
}
